form.form-control me-2{
    float:right;
    color :red;
}


.row img{
    width:100%;
    margin: auto;
    display: block;
    
}
.linktag{
    padding:5px;
    margin:auto;
    text-align: right;
}
div img.img-fluid{
    width:100%;
    
}
.container-fluid{
    padding:0px;
}
.section1{
    
    margin:auto;
    margin-top:15%;
    margin-bottom: 20%;
    text-align: center;
    
    color:deeppink;
    display: block;
    width:100%;
}


.loginWrapper {
    max-width: 400px;
    display: block;
    margin:auto;
    margin-top:20px;
   
}
button.meowbtn{
    margin:auto;
    background-color: pink;
    display:block;
    padding-left: 15%;
    padding-right:13%;
    border-radius: 5px;
    color:saddlebrown;
    font-family:fantasy;
     cursor:url('assets/paw.png'),auto;
}
button.login{
    padding-left:20%;
    padding-right:20%;
}

h5.modal-title{
    margin: auto;
    margin-left:3%;
    font-weight: 800;
}
.modalFormWrapper{
    margin:auto;
    display:block;
}
.imgCenter{
    display:block;
    margin:auto;
    
}
.btnCenter{
    margin-top: 15px;
    margin-bottom:20px;
    display: block;
    margin: auto;
    color:hotpink;
    background-color: cornsilk;
    width: 70%
}
.fa{
    margin:5px;
}

.footerImg{
    padding:10px;
}

.fa-facebook-square{
    color:cornflowerblue;
}
.fa-google-plus-square{
    color:darkred;
}
.fa-instagram{
    color:deeppink;
}
.socialWrapper{
    margin:auto;
    display: block;
}