{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href ="/static/css/landing.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<!-- <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}"> -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


{% endblock %}

{% block content %}


  <div class="section1">
    <div class="container-fluid">
        <div class="row">
            
                <h1 class="display-4">Welcome {{name}}!</h1>
                <p class="lead">Login Successfully!<br>Now let's explore...</p>
            </div>
           
        
    </div>    
</div>

 </div>

{%endblock%}

